<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Comfortaa|Neucha" rel="stylesheet">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <meta charset="utf-8">
    <title>Online Shop</title>
  </head>
  <body>

  <div class="container-fluid">
    <div class="row-fluid">
      <div class="col-md-4">
        <ul class="sidebar-nav">
          {% block sidebar %}
          <br>
            <li><a href="{% url 'main' %}">Главная</a></li>
            <li><a href="{% url 'categories' %}">Категории</a></li>
            <li><a href="">Товары</a></li>
            <li><a href="">Корзина</a></li>
          </ul>
          {% endblock %}
      </div>

        <div class="col-md-8">
            {% block content %}{% endblock %}
        </div>
      </div>
  </div>
  <footer><div class="navbar-fixed-bottom">
  <p align="center"> Тестовое задание </p>
</div></footer>
  </body>
</html>
