{%extends "basic.html"%}

{% block content %}

<h2><p>Товары из категории {{category}}</p></h2>

{% if productsList%}
  {% for product in productsList %}
  <div class="product-item">
    <div class="product-list">
    <h3>{{ product.product_name }}</h3>
      <span class="price">{{product.product_price}}</span>
    Остаток на складе: {{product.balance}}<br>
      <a href="" class="button">В корзину</a>
    </div>
    </div>
  {% endfor %}


</ul>

{%else%}
Не добавлено
{%endif%}

{% endblock %}
